<% provide(:title, 'About') %>
<h1>About KondoCo.in</h1>
<p>The kondoco.in bitcoin vending machine provides a simple way for
newcomers to obtain bitcoins. It is not suitable for buying large
amounts of bitcoins, but perfect for your first bitcoin. If you have
questions please contact us at</p>

<div class="center">
  <p><i class="icon-envelope"> </i> hello@kondoco.in</p>
</div>

  <h2>Frequently asked questions</h2>

  <ol>
    <li>
    <p><strong>I don't have a bitcoin wallet. Can you recommend one?</strong></p>
    <p>There are many bitcoin wallets available, ranging from paper wallets to android applications. All have specific advantages and disadvantages. For beginners, I recommend the <a href="http://electrum.org">Electrum Bitcoin Wallet</a> since you do not have to download the blockchain and it works on a variety of devices.
    </p>
    </li>

    <li>
    <p><strong>I entered my voucher code, but the system does not accept it.</strong></p>
    <p>Please note that there is no "O" (the letter) in the code. The code
    consists of the numbers 0-9 and the letters a-f. If you entered an "O"
    as in Octopus, try a zero as in 007 instead.</p>
    </li>

    <li>
    <p><strong>How much do you make?</strong></p>
    <p>Nothing. After paying for the server, the packaging and the condom
    machine itself I loose money.</p>
    </li>

    <li>
    <p><strong>That is sad. Do you accept donations?</strong></p>
    <p>Yes, I do. Please send donations TODO<p>
    </li>

    <li>
    <p><strong>This is a neat idea. Can I build one myself?</strong></p>
    <p>Absolutely! You just need a vending machine of some kind. The server
    software is available on github. Have fun!</p>
    </li> 
  </ol>
