  <h1 class="center">Buy your first bitcoins!</h1>

  <p>kondoco.in is an easy way to buy your first bitcoins:</p>

  <ol>
  <li>You buy a voucher from a vending machine (yes, its an old condom
    machine).</li>
  <li>The voucher contains a code which you can enter on this website,
    along with your wallet id.</li>
  <li>We then compute the current value of your voucher in bitcoins and
    transfer the fund to your wallet.</li>
  </ol>

  <p> You can learn more on our <%= link_to "about page", about_path %>.</p>

  <div class="redeem-linkbox">
  <p>Already bought a voucher?</p>

  <p><%= link_to "Redeem Voucher!", redeem_path, class: "btn btn-large btn-primary" %></p>
</div>

