  <h1>Aufstellungsorte</h1>
  <p>
  Der Kondocoin ist nur auf Veranstaltungen verfügbar, d.h. die meiste Zeit ist er bei Mathias zu Hause. Er freut sich aber schon auf den nächsten Event!
  </p>

  <h3>MRMCD 2013</h3>
  <p>
  Der Kondocoin war auf der <%= link_to "MRMCD 2013 in Darmstadt", "http://mrmcd.net" %>:
  </p>
  <p>
  <%= image_tag("mrmcd2013-600x450.jpg", :border => 0)%>

  </p>

