  <h1>Locations</h1>
  <p>
  The Kondocoin is an event-only device: most of the time, it is at Mathias' home. But it is looking forward to meet you at the next event!
  </p>

  <h3>MRMCD 2013</h3>
  <p>
  The Kondocoin has been at the <%= link_to "MRMCD 2013 in Darmstadt", "http://mrmcd.net" %>:
  </p>
  <p>
  <%= image_tag("mrmcd2013-600x450.jpg", :border => 0)%>
  </p>
