  <h1><%= t ".title" %></h1>
  <p>
  <%= t(".description", :href => (link_to(t(".location_name"), t(".location_url")))).html_safe %>
  </p>

  <h3><%= t ".prevloc_title" %></h3>
  <p>
  <%= t(".prevloc_description", :href => (link_to(t(".prevloc_location_name"), t(".prevloc_location_url"))), :img => (image_tag(t(".prevloc_image"), :border => 0))).html_safe %>
  </p>

