<footer class="footer">
<small>
  <a href="http://kondoco.in/"><%= t ".projectname" %></a>
   <%= t ".by_stmt" %> <a href="http://gonium.net">Mathias Dalheimer</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about_link"),   about_path %></li>
      <li><%= link_to t(".imprint_link"), imprint_path %></li>
    </ul>
  </nav>
</footer>
