<header class="navbar">
<div class="navbar-inner">
  <div class="container">
    <nav>
    <ul class="nav pull-left">
      <li><%= link_to t(".home_link"), root_path %></li>
      <li><%= link_to t(".about_link"), about_path %></li>
      <li><%= link_to t(".redeem_link"), redeem_path %></li>
    </ul>
    </nav>
  </div>
</div>
</header>

