<header class="navbar">
<div class="navbar-inner">
  <div class="container">
    <nav>
    <ul class="nav pull-left">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Redeem", redeem_path %></li>
    </ul>
    </nav>
  </div>
</div>
</header>

