@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */
$lightGray: #999;
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
// But: only small padding on small screens!
@media (max-width: 979px) {
  body {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.navbar {
  margin-bottom: 50px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.observe-button {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.redeem-linkbox {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: left;
}

.logo-image {
  max-width: 23%;
  margin-left: 10%;
	padding: 0 0 3% 0;
  float: right;
}

.location {
  margin-bottom: 30px;
  clear: right;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  margin-top: 45px;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 25px;
  text-align: left;
  font-weight: normal;
  margin-top: 35px;
}

p {
  font-size: 1.1em;
  line-height: 1.4em;
}

.sidebar {
  padding-left: 20px;
  float: right;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

//.navbar {
//  margin-bottom: 45px;
//}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray  
  a {
    color: $gray;
    /* &:hover {
      color: $grayDarker;
    }*/
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.vouchercode {
  margin-top: 30px; 
  margin-bottom: 30px; 
}

.codefield {
  margin-left: -1px; 
  margin-right: -1px; 
}
