<% provide(:title, 'Redeem') %>
<h1><%= t ".title" %></h1>

<p><%= t(".lead") %></p>
<p class="observe-button">
<%= link_to t(".blockchain_button"), @blockchain_link, class: "btn btn-large btn-primary" %>
</p>

